<% layout("/layouts/boilerplate") %>

<h3>Search Results for "<%= query %>"</h3>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% if (listings.length === 0) { %>
    <p>No listings found.</p>
  <% } %>
  <% for (let listing of listings) { %>
    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
      <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem" />
        <div class="card-body">
          <b><p class="card-text"><%= listing.title %></b><br>
            ₹ <%= listing.price.toLocaleString("en-IN") %> / night
          </p>
        </div>
      </div>
    </a>
  <% } %>
</div>
